body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

.statistics-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 200px; /* Ajuste a largura conforme necessário */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card i {
    font-size: 50px;
    color: #007bff;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

h2 {
    text-align: center;
    margin: 20px 0;
}
